<!--resources/templates/fragments/footer.html-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <div class="footerWrapper" style="display:flex; justify-content: center;">
        <div class="footer" style="display: flex; text-align: center; top: 95%; flex-direction: column; margin: 0px; align-items: center;">
            <p class="p1" style="margin: 0; font-size:1vw;">Copyright 2023. JMS all rights reserved.</p>
            <p class="p2" style="margin:0; font-size:1vw;">Advertise and other inquiries @toratugumi37</p>
            <p class="p3" style="margin:0; font-size:1vw;">Copyright Claim : github.com/toratugumi37</p>
        </div>
    </div>
</div>
</html>